@page
@model LogoutModel
@{
    ViewData["Title"] = @SharedLocalizer["Logout"];
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@SharedLocalizer["You have successfully logged out of the application."]</p>
    <img class="pic-1" height="500" width="500" src="http://www.cedarscaregroup.co.uk/wp-content/uploads/2017/09/BookClub_Banner.jpg">
</header>